sudo: required
services:
  - docker

language: python
  

before_install:
# Di sini kita akan melakukan testing untuk Client. Kita bisa juga melakukan testing utk Worker, Server dll kalo mau.

  - docker build -t senzdamsik/http-api ./src

script:
  - docker run -e CI=true senzdamsik/http-api python -m pytest -v   

after_success:
  # Setelah Travis selesai melakukan testing, selanjutnya kita suruh Travis membuat image dan mengirimkannya
  # ke Dockerhub (agar bisa ditarik oleh AWS Beanstalk)

  - docker build -t senzdamsik/http-api ./src

  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin # id= senzdamsik, pass: mu...
  # Take those images and push them to docker hub.
  - docker push senzdamsik/http-api



deploy:
  provider: elasticbeanstalk
  region: ap-southeast-1
  app: leadbook-app-multi
  env: Leadbookappmulti-env
  bucket_name: elasticbeanstalk-ap-southeast-1-766087270844
  bucket_path: leadbook-app
  edge: true
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY